{% extends 'authbase.html.twig' %}

{% block title %}{{ 'invitecode_heading'|trans }}{% endblock %}

{% block heading %}{{ 'invitecode_heading'|trans }}{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('error') %}
        <p style="color: darkred">{{ message }}</p>
    {% endfor %}

    {{ form_start(invite) }}
    {{ form_widget(invite.code) }}
    <br>
    {{ form_end(invite) }}
{% endblock %}
