{% extends 'base.html.twig' %}

{% block title %}{{ 'nav_invites'|trans }}{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{{ 'nav_invites'|trans }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('home.index') }}">Home</a></li>
                            <li class="breadcrumb-item">Administration</li>
                            <li class="breadcrumb-item active">{{ 'nav_invites'|trans }}</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        {% include 'messages.html.twig' %}

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-success btn-sm" href="{{ path('admin.invite.add') }}">
                                <i class="fas fa-plus">
                                </i>
                                {{ 'create'|trans }}
                            </a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>{{ 'created_by'|trans }}</th>
                                    <th>{{ 'date'|trans }}</th>
                                    <th>{{ 'action'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for invite in invites %}
                                    <tr>
                                        <td>{{ invite.code}}</td>
                                        <td>{{ usernames[invite.creator] }}</td>
                                        <td>{{ invite.creationdate|format_datetime(locale='de') }}</td>
                                        <td><a class="btn btn-danger btn-sm" href="{{ path('admin.invite.delete', {'id': invite.id}) }}">
                                                <i class="fas fa-trash">
                                                </i>
                                                {{ 'delete'|trans }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Code</th>
                                    <th>{{ 'created_by'|trans }}</th>
                                    <th>{{ 'date'|trans }}</th>
                                    <th>{{ 'action'|trans }}</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
