{% extends 'base.html.twig' %}

{% block title %}Archive{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Archive</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('home.index') }}">Home</a></li>
                            <li class="breadcrumb-item active">Archive</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        {% include 'messages.html.twig' %}

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-secondary btn-sm" href="{{ path('reports.index') }}">
                                <i class="fas fa-archive"></i>
                                {{ 'open_reports'|trans }}
                            </a>
                            <a class="btn btn-success btn-sm" href="{{ path('chatlog.index') }}">
                                <i class="fas fa-comments"></i>
                                Chatlogs
                            </a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>{{ 'reported'|trans }}</th>
                                    <th>{{ 'reported_by'|trans }}</th>
                                    <th>{{ 'reason'|trans }}</th>
                                    <th>Chatlog</th>
                                    <th>{{ 'edited_by'|trans }}</th>
                                    <th>{{ 'date'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for report in reports %}
                                    <tr>
                                        <td>{{ report.uuid }}</td>
                                        <td>{{ report.reporter }}</td>
                                        <td>{{ report.reason }}</td>
                                        <td>{{ report.log }}</td>
                                        <td>{{ report.team }}</td>
                                        <td>{{ report.createdAt|format_datetime(locale="de") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>{{ 'reported'|trans }}</th>
                                    <th>{{ 'reported_by'|trans }}</th>
                                    <th>{{ 'reason'|trans }}</th>
                                    <th>Chatlog</th>
                                    <th>{{ 'edited_by'|trans }}</th>
                                    <th>{{ 'date'|trans }}</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
