{% extends 'authbase.html.twig' %}

{% block title %}ProfessionalBans Setup{% endblock %}

{% block body %}

<div>

    {% include 'messages.html.twig' %}

    <h3>ProfessionalBans <strong>Setup</strong></h3>
    <br>
    <p>Welcome to the setup from ProfessionalBans <strong>{{ version }}</strong>.
    We need to setup first a little things before you can start.<br>
    <em>Which language do you prefer?</em></p>
    <br>
    {{ form_start(language) }}
    {{ form_row(language.language) }}
    <br>
    {{ form_row(language.submit) }}
    {{ form_end(language) }}
</div>
{% endblock %}
