{% extends 'base.html.twig' %}

{% block title %}Mutes{% endblock %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Mutes</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('home.index') }}">Home</a></li>
                            <li class="breadcrumb-item active">Mutes</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-danger btn-sm" href="{{ path('mute.mute') }}">
                                <i class="fas fa-ban">
                                </i>
                                Mute
                            </a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Reason</th>
                                    <th>Banned to</th>
                                    <th>Punisher</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for mute in mutes %}
                                    <tr>
                                        <td><a href="{{ path('profile.user', {'user': mute.name}) }}">{{ mute.name}}</a></td>
                                        <td>{{ mute.reason }}</td>
                                        <td>{{ mute.formattedend|format_datetime(locale="de") }}</td>
                                        <td><a href="{{ path('profile.user', {'user': mute.teamUUID}) }}">{{ mute.teamUUID}}</a></td>
                                        <td><a class="btn btn-danger btn-sm" href="{{ path('mute.unmute', {'name': mute.name}) }}">
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Player</th>
                                    <th>Reason</th>
                                    <th>Banned to</th>
                                    <th>Punisher</th>
                                    <th>Action</th>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(mutes) }}
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
